In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas 
import json

In [23]:
lines22 = gpd.read_file("./tfl_lines.json")
lines22

,id,lines,geometry
0,LeaValleyLine1,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.05941 51.52391, -0.0591 51.5239..."
1,LeaValleyLine2,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.0576 51.53245, -0.05767 51.5326..."
2,LeaValleyLine3,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.05785 51.54118, -0.0578 51.5413..."
3,LeaValleyLine4,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.06116 51.54909, -0.06122 51.549..."
4,LeaValleyLine5,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.06845 51.55866, -0.06868 51.559..."
...,...,...,...
696,TL117D,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","LINESTRING (-0.40342 51.87818, -0.39808 51.874..."
697,TL117E,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","LINESTRING (-0.41422 51.88252, -0.4105 51.8816..."
698,TL118,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","LINESTRING (-0.10495 51.5203, -0.10467 51.5199..."
699,TL119,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","LINESTRING (-0.10357 51.51298, -0.10383 51.516..."
700,BarkingExt,"[ { ""name"": ""London Overground"", ""opened"": 202...","LINESTRING (0.0809 51.5392, 0.08781 51.53583, ..."

In [34]:
print(type(lines22["lines"].iloc[0]))
print(lines22["lines"].iloc[0])

<class 'str'>
[ { "name": "London Overground", "opened": 2015, "start_sid": "910GCAMHTH", "end_sid": "910GBTHNLGR" } ]

In [36]:
# 将 JSON 字符串转换为 Python 对象（列表 of 字典）
def parse_lines(val):
    try:
        return json.loads(val)
    except json.JSONDecodeError:
        return []  # 如果解析失败，则返回空列表

# 应用转换
lines22["lines_parsed"] = lines22["lines"].apply(parse_lines)

# 获取所有不同的线路名称
all_names = set()
for line_list in lines22["lines_parsed"]:
    for entry in line_list:
        name = entry.get("name")
        if name:
            all_names.add(name)

print(sorted(all_names))

['Bakerloo', 'Central', 'Circle', 'Crossrail 2', 'DLR', 'District', 'East London', 'Elizabeth line', 'Hammersmith & City', 'IFS Cloud Cable Car', 'Jubilee', 'London Overground', 'Metropolitan', 'Northern', 'Piccadilly', 'Thameslink 6tph line', 'Tramlink', 'Victoria', 'Waterloo & City']

In [38]:
# 为每个 name 创建一个新列
for name in all_names:
    lines22[name] = lines22["lines_parsed"].apply(
        lambda line_list: int(any(entry.get("name") == name for entry in line_list))
    )

In [39]:
lines22

,id,lines,geometry,lines_parsed,Circle,East London,Thameslink 6tph line,Bakerloo,Metropolitan,IFS Cloud Cable Car,...,Crossrail 2,Victoria,Central,Tramlink,DLR,Piccadilly,Elizabeth line,Waterloo & City,Hammersmith & City,Jubilee
0,LeaValleyLine1,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.05941 51.52391, -0.0591 51.5239...","[{'name': 'London Overground', 'opened': 2015,...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,LeaValleyLine2,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.0576 51.53245, -0.05767 51.5326...","[{'name': 'London Overground', 'opened': 2015,...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,LeaValleyLine3,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.05785 51.54118, -0.0578 51.5413...","[{'name': 'London Overground', 'opened': 2015,...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,LeaValleyLine4,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.06116 51.54909, -0.06122 51.549...","[{'name': 'London Overground', 'opened': 2015,...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,LeaValleyLine5,"[ { ""name"": ""London Overground"", ""opened"": 201...","LINESTRING (-0.06845 51.55866, -0.06868 51.559...","[{'name': 'London Overground', 'opened': 2015,...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,TL117D,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","LINESTRING (-0.40342 51.87818, -0.39808 51.874...","[{'name': 'Thameslink 6tph line', 'opened': 20...",0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,TL117E,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","LINESTRING (-0.41422 51.88252, -0.4105 51.8816...","[{'name': 'Thameslink 6tph line', 'opened': 20...",0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,TL118,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","LINESTRING (-0.10495 51.5203, -0.10467 51.5199...","[{'name': 'Thameslink 6tph line', 'opened': 20...",0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
699,TL119,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","LINESTRING (-0.10357 51.51298, -0.10383 51.516...","[{'name': 'Thameslink 6tph line', 'opened': 20...",0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
700,BarkingExt,"[ { ""name"": ""London Overground"", ""opened"": 202...","LINESTRING (0.0809 51.5392, 0.08781 51.53583, ...","[{'name': 'London Overground', 'opened': 2022,...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
# lines22[lines22['Crossrail 2'] == 1]

In [44]:
# 5. 导出为 GeoJSON（会保留投影信息）
lines22.to_file("london_lines.geojson", driver="GeoJSON")

In [53]:
stations = gpd.read_file('./tfl_stations.json')
stations

,id,name,nlc_id,lines,cartography,altmodeid,alt_id,altmodeid2,zone,geometry
0,940GZZLUACT,Acton Town,0500,"[ { ""name"": ""District"" }, { ""name"": ""Piccadill...","{ ""labelX"": 30 }",None,1,None,3,POINT (-0.27992 51.50264)
1,940GZZLUACY,Archway,0508,"[ { ""name"": ""Northern"", ""nightopened"": 2016 } ]","{ ""labelX"": -30 }",None,8,None,2/3,POINT (-0.13475 51.56537)
2,940GZZLUADE,Aldgate East,0503,"[ { ""name"": ""District"" }, { ""name"": ""Hammersmi...","{ ""labelX"": 30 }",None,3,None,1,POINT (-0.07188 51.51515)
3,940GZZLUAGL,Angel,0507,"[ { ""name"": ""Northern"" }, { ""name"": ""Crossrail...","{ ""labelX"": 1, ""labelY"": -35 }",None,7,None,1,POINT (-0.10613 51.53182)
4,940GZZLUALD,Aldgate,0502,"[ { ""name"": ""Circle"" }, { ""name"": ""Metropolita...","{ ""labelX"": 25, ""labelY"": 20 }",None,2,None,1,POINT (-0.07572 51.5141)
...,...,...,...,...,...,...,...,...,...,...
547,910GHOR,Horley,5365,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","{ ""labelX"": 30 }",None,None,None,?,POINT (-0.16104 51.16871)
548,910GHPD,Harpenden,1543,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","{ ""labelX"": 30 }",None,None,None,?,POINT (-0.35146 51.8146)
549,910G950,Canary Wharf,None,"[ { ""name"": ""Elizabeth line"", ""opened"": 2022 } ]","{ ""labelX"": 30 }",None,None,None,2,POINT (-0.01747 51.50628)
550,910G981,King's Road Chelsea,None,"[ { ""name"": ""Crossrail 2"", ""opened"": 2030 } ]","{ ""labelX"": 1, ""labelY"": 45 }",None,None,None,1,POINT (-0.16701 51.48835)
551,910GBKRVS,Barking Riverside,None,"[ { ""name"": ""London Overground"", ""opened"": 202...","{ ""labelX"": 1, ""labelY"": 45 }",None,None,None,4,POINT (0.11599 51.51955)

In [54]:
# 转换 lines 字段为列表
def parse_station_lines(val):
    try:
        return json.loads(val)
    except:
        return []

stations["lines_parsed"] = stations["lines"].apply(parse_station_lines)

In [55]:
# 收集所有 station line 名称
station_line_names = set()
for line_list in stations["lines_parsed"]:
    for entry in line_list:
        name = entry.get("name")
        if name:
            station_line_names.add(name)

print(sorted(station_line_names))

['Bakerloo', 'Central', 'Circle', 'Crossrail 2', 'DLR', 'District', 'East London', 'Elizabeth line', 'Hammersmith & City', 'IFS Cloud Cable Car', 'Jubilee', 'London Overground', 'Metropolitan', 'National Rail', 'Northern', 'Piccadilly', 'Thameslink 6tph line', 'Tramlink', 'Victoria', 'Waterloo & City']

In [56]:
# 创建多个布尔列，表示站点是否属于某条线路
for name in station_line_names:
    stations[name] = stations["lines_parsed"].apply(
        lambda line_list: int(any(entry.get("name") == name for entry in line_list))
    )

In [67]:
# 5. 导出为 GeoJSON（会保留投影信息）
stations.to_file("london_stations.geojson", driver="GeoJSON")

In [8]:
stations = gpd.read_file('./london_stations.geojson')
stations.columns

Index(['id', 'name', 'nlc_id', 'lines', 'cartography', 'altmodeid', 'alt_id',
       'altmodeid2', 'zone', 'lines_parsed', 'Circle', 'East London',
       'Thameslink 6tph line', 'National Rail', 'Bakerloo', 'Metropolitan',
       'IFS Cloud Cable Car', 'District', 'London Overground', 'Northern',
       'Crossrail 2', 'Victoria', 'Central', 'Tramlink', 'DLR', 'Piccadilly',
       'Elizabeth line', 'Waterloo & City', 'Hammersmith & City', 'Jubilee',
       'geometry'],
      dtype='object')

In [9]:
# 当前列名
current_cols = stations.columns

# 目标映射（原列名 -> 新列名）
rename_map = {
    'Hammersmith & City': 'HammCity',
    'Metropolitan': 'Metropol',
    'Waterloo & City': 'WaterlooCity',
    'London Overground': 'Overground',
    'Elizabeth line': 'Elizabeth'
    # 其余保持一致（如果出现在 lineIDs 中则保留）
}

# # 保留不需要修改的列名
# for name in lineIDs:
#     if name in stations.columns and name not in rename_map.values():
#         rename_map[name] = name

# 重命名列
stations = stations.rename(columns=rename_map)

In [10]:
stations

,id,name,nlc_id,lines,cartography,altmodeid,alt_id,altmodeid2,zone,lines_parsed,...,Victoria,Central,Tramlink,DLR,Piccadilly,Elizabeth,WaterlooCity,HammCity,Jubilee,geometry
0,940GZZLUACT,Acton Town,0500,"[ { ""name"": ""District"" }, { ""name"": ""Piccadill...","{ ""labelX"": 30 }",None,1,None,3,"[ { ""name"": ""District"" }, { ""name"": ""Piccadill...",...,0,0,0,0,1,0,0,0,0,POINT (-0.27992 51.50264)
1,940GZZLUACY,Archway,0508,"[ { ""name"": ""Northern"", ""nightopened"": 2016 } ]","{ ""labelX"": -30 }",None,8,None,2/3,"[ { ""name"": ""Northern"", ""nightopened"": 2016 } ]",...,0,0,0,0,0,0,0,0,0,POINT (-0.13475 51.56537)
2,940GZZLUADE,Aldgate East,0503,"[ { ""name"": ""District"" }, { ""name"": ""Hammersmi...","{ ""labelX"": 30 }",None,3,None,1,"[ { ""name"": ""District"" }, { ""name"": ""Hammersmi...",...,0,0,0,0,0,0,0,1,0,POINT (-0.07188 51.51515)
3,940GZZLUAGL,Angel,0507,"[ { ""name"": ""Northern"" }, { ""name"": ""Crossrail...","{ ""labelX"": 1, ""labelY"": -35 }",None,7,None,1,"[ { ""name"": ""Northern"" }, { ""name"": ""Crossrail...",...,0,0,0,0,0,0,0,0,0,POINT (-0.10613 51.53182)
4,940GZZLUALD,Aldgate,0502,"[ { ""name"": ""Circle"" }, { ""name"": ""Metropolita...","{ ""labelX"": 25, ""labelY"": 20 }",None,2,None,1,"[ { ""name"": ""Circle"" }, { ""name"": ""Metropolita...",...,0,0,0,0,0,0,0,0,0,POINT (-0.07572 51.5141)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,910GHOR,Horley,5365,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","{ ""labelX"": 30 }",None,None,None,?,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...",...,0,0,0,0,0,0,0,0,0,POINT (-0.16104 51.16871)
548,910GHPD,Harpenden,1543,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...","{ ""labelX"": 30 }",None,None,None,?,"[ { ""name"": ""Thameslink 6tph line"", ""opened"": ...",...,0,0,0,0,0,0,0,0,0,POINT (-0.35146 51.8146)
549,910G950,Canary Wharf,None,"[ { ""name"": ""Elizabeth line"", ""opened"": 2022 } ]","{ ""labelX"": 30 }",None,None,None,2,"[ { ""name"": ""Elizabeth line"", ""opened"": 2022 } ]",...,0,0,0,0,0,1,0,0,0,POINT (-0.01747 51.50628)
550,910G981,King's Road Chelsea,None,"[ { ""name"": ""Crossrail 2"", ""opened"": 2030 } ]","{ ""labelX"": 1, ""labelY"": 45 }",None,None,None,1,"[ { ""name"": ""Crossrail 2"", ""opened"": 2030 } ]",...,0,0,0,0,0,0,0,0,0,POINT (-0.16701 51.48835)
551,910GBKRVS,Barking Riverside,None,"[ { ""name"": ""London Overground"", ""opened"": 202...","{ ""labelX"": 1, ""labelY"": 45 }",None,None,None,4,"[ { ""name"": ""London Overground"", ""opened"": 202...",...,0,0,0,0,0,0,0,0,0,POINT (0.11599 51.51955)

In [11]:
stations.columns

Index(['id', 'name', 'nlc_id', 'lines', 'cartography', 'altmodeid', 'alt_id',
       'altmodeid2', 'zone', 'lines_parsed', 'Circle', 'East London',
       'Thameslink 6tph line', 'National Rail', 'Bakerloo', 'Metropol',
       'IFS Cloud Cable Car', 'District', 'Overground', 'Northern',
       'Crossrail 2', 'Victoria', 'Central', 'Tramlink', 'DLR', 'Piccadilly',
       'Elizabeth', 'WaterlooCity', 'HammCity', 'Jubilee', 'geometry'],
      dtype='object')

In [13]:
stations.to_file("london_stations2.geojson", driver="GeoJSON")